* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


body, html {
    overflow-x: hidden;
    background-color: whitesmoke;
}

/*Nav bar*/
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: rgb(5, 41, 21);
    font-size: 3vmin;
    background: whitesmoke;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-link {
    display: flex;
    text-align: left;
    font-size: 1.90rem;
    font-weight: bold;
    color: rgb(48, 12, 12);
    letter-spacing: 1px;
    margin: 1px 25px;
   
}


.logo {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 350px;
}

.nav-logo {
    display: flex;
    align-items: flex-end;
}

.ctn {
    padding: 10px 18px;
    background: rgb(48, 12, 12);
    border-radius: 40px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.50rem;
}

.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}


.content-header {
    width: 100vw;
    height: 100vh;
    background-image: url('../img/cover.jpg');
    background-position: center;
    background-size: contain;
    background-color: whitesmoke;
    background-repeat: repeat-x;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hero-text {
    margin-bottom: 250px;
    color: #080808;
    text-align: center;
}

.hero-text h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

/*Section News*/
.news {
    background-color: whitesmoke;
    padding: 2px 2px;
}

.news h1 {
    font-size: 3rem;
    color: rgb(32, 10, 10);
    margin-bottom: 2px;
    padding: 15px 30px;
}

.container-news {
    width: 78%;
    columns: 200px 3;
    column-gap: 3rem;
    margin: 1em auto;
    padding: 1em;
    background-color: skyblue;
}


.news-cards {
    display: grid;
    gap: 2rem 3rem;
    /*background-color: slateblue;*/
}

.recipes-cards {
    /*background-color: springgreen;*/
    padding-bottom: 2rem;
    text-align:justify;

}

.recipes-cards img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    height: 25rem;
    /*padding-top: 10px;
    padding-bottom: 12px;*/
    border: 5px solid rgb(5, 41, 21);
}


.recipes-cards h2 {
    margin-bottom: 0;
    line-height: 2;
    color: black;
    text-align: center;
}

.recipes-cards p {
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-style: italic;
    align-items: center;
}








footer {
    /* position: fixed;
    left: 0;
    bottom: 0;*/
    width: 100%;
    min-height: 100px;
    background: rgb(5, 41, 21);

    text-align: center;
    padding: 20px 80px;
    margin: 0;
}

footer p {
    padding-top: 5px;
    font-size: 3vmin;
    font-style: italic;
    color: white;
}

/*mobile device*/
@media (max-width:850px) {
    .menu-btn {
        display: block;
    }

    .navbar {
        padding: 0;
    }

    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }

    .logo img {
        width: 100%;
        align-items: center;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: rgb(238, 236, 236);
        margin-top: -860px;
        transition: all 0.5s ease;
    }

    .nav-link {
        font-size: 1.25rem;
    }

    .mobile-menu {
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }

    .nav-links .nav-link {
        margin: 30px auto;
    }

    .container-news {
        grid-template-columns: 200px 1fr;
        gap: 1rem;
    }

    .recipes-cards img {
        margin-top: 10px;
    }

    .recipe img {
        /*height: 10rem;*/
        width: 100%;
        padding-top: 0%;
    }

    .hero-text {
        margin-bottom: 229px;
    }

    footer {
        padding: 10px;
    }
}


/*Animations*/
.ctn:hover {
    background: whitesmoke;
    color: #076940;
    box-shadow: 2px 2px 5px #00000056;
}

.nav-link:hover {
    color: #076940;
    cursor: pointer;
}

/* Style all font awesome icons */

.fa {
    padding: 10px;
    width: 36px;
    text-decoration: none;
    justify-content: space-between;
}

/* Add a hover effect if you want */

.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */

.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */

.fa-twitter {
    background: #55ACEE;
    color: white;
}

/* Instagram */

.fa-instagram {
    background: #E1306C;
    color: white;
}