* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


body, html {
    overflow-x: hidden;
    background-color: whitesmoke;
}

/*Nav bar*/
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: rgb(5, 41, 21);
    font-size: 3vmin;
    background: whitesmoke;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-link {
    display: flex;
    text-align: left;
    font-size: 1.90rem;
    font-weight: bold;
    color: rgb(48, 12, 12);
    letter-spacing: 1px;
    margin: 1px 25px;

}


.logo {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 350px;
}

.nav-logo {
    display: flex;
    align-items: flex-end;
}

.ctn {
    padding: 10px 18px;
    background: rgb(48, 12, 12);
    border-radius: 40px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.50rem;
}

.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}


.content-header {
    width: 100vw;
    height: 80vh;
    background-image: url('../img/cover.jpg');
    background-position: center;
    background-size: contain;
    background-color: whitesmoke;
    background-repeat: repeat-x;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid #c9c5c556;
    margin-bottom: 10px;
}

.hero-text {
    /*margin-bottom: 250px;*/
    color: #080808;
    text-align: center;
}

.hero-text h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

/*Section News*/
.news {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    width: 100%;
    border: solid #c9c5c556;
    /* background-color: whitesmoke;
    padding: 2px 2px;*/
}

.news h1 {
    font-size: 3rem;
    color: rgb(32, 10, 10);
    margin-bottom: 2px;
    padding: 15px 30px;
}

.container-news {
    /*width: 78%;
    column-gap: 3rem;
    */
    columns: 200px 3;
    margin: 1em auto;
    padding: 1em;
    /* background-color: rgb(203, 232, 243);*/
}


.news-cards {
    display: grid;
    gap: 2rem 3rem;
    /*background-color: slateblue;*/
}

.recipes-cards {
    /*background-color: springgreen;
    padding-bottom: 2rem;*/
    text-align: justify;

}

.recipes-cards img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    height: 25rem;
    /*padding-top: 10px;
    padding-bottom: 12px;*/
    border: 5px solid rgb(5, 41, 21);
}


.recipes-cards h2 {
    margin-bottom: 0;
    line-height: 2;
    color: black;
    text-align: center;
}

.recipes-cards p {
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-style: italic;
    align-items: center;
    padding-bottom: 20px;
}

/*section Review*/
.Review {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border: solid #c9c5c556;
    margin-top: 10px;
}

.Review h1 {
    font-size: 3rem;
    color: rgb(32, 10, 10);
    margin-bottom: 2px;
    padding: 15px 30px;
}

.container-review {
    columns: 200px 2;
    margin: 1em auto;
    padding: 1em;
    /*background-color: skyblue;*/
}

.container-review {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
}

.review-box {
    width: 500px;
    box-shadow: 2px 2px 30px rgba(26, 25, 25, 0.1);
    background-color: rgb(209, 220, 226);
    padding: 20px;
    cursor: pointer;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile {
    display: flex;
    align-items: center;
}

.name-user {
    display: flex;
    flex-direction: column;
}

.name-user strong {
    columns: #3d3d3d;
    letter-spacing: 0.5px;
}

.name-user span {
    color: #979797;
    font-size: 0.8rem;
}

.client-comment p {
    font-size: 0.96rem;

}


/*footer*/
footer {
    /* position: fixed;
    left: 0;
    bottom: 0;*/
    width: 100%;
    min-height: 100px;
    background: rgb(5, 41, 21);

    text-align: center;
    padding: 20px 80px;
    margin: 0;
}

footer p {
    padding-top: 5px;
    font-size: 3vmin;
    font-style: italic;
    color: white;
}

/*mobile device*/
@media (max-width:850px) {
    .menu-btn {
        display: block;
    }

    .navbar {
        position: relative;
        padding: 0;
        align-items: center;
    }

    .logo {
        position: absolute;
        top: 0px;
        left: 30px;
    }

    .logo img {
        width: 200px;
        align-items: center;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: rgb(238, 236, 236);
        margin-top: -860px;
        transition: all 0.5s ease;
    }

    .nav-link {
        font-size: 1.25rem;
    }

    .mobile-menu {
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }

    .nav-links .nav-link {
        margin: 30px auto;
    }

    .container-news {
        grid-template-columns: 200px 1fr;
        gap: 1rem;
    }



    footer {
        padding: 10px;
    }

    .container-news {
        columns: 200px 1;
    }

    .wrap {
        display: inline-block;

    }

    .recipes-category {
        width: 40% !important;
        margin-left: 10px;


    }

    .main-recipes {
        display: inline-block !important;
        width: 100% !important;
        align-content: center !important;
    }

    .main-recipes .recipesItems {
        width: 100% !important;
        margin-left: 20px !important;
        margin-bottom: 40px !important;
    }

    .main-recipes .recipesItems img {
        height: 17rem !important;
    }

   .content-contact .img-box {
        display:none !important;
    
    }

   /* .content-contact .img-box img{
        height: 100px;*/
    
    .content-contact form{
       width: 100% !important;
       margin-right: 30px;
    }
}



/*recipes page*/

.wrap {
    max-width: 1100px;
    width: 90%;
    margin: auto;
    /* background-color: chocolate;*/
}

.wrap>h1 {
    color: rgb(32, 10, 10);
    font-weight: 500;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 10px;
    font-size: 3rem;
}

.wrap>h1:after {
    content: '';
    width: 100%;
    height: 1px;
    background: #c7c7c7;
    margin: 20px 0;
}

.recipes-filtres {
    display: flex;
}

.recipes-filtres a:hover {
    background: whitesmoke;
    color: #076940;
    box-shadow: 2px 2px 5px #00000056;
}

.recipes-category {
    display: flex;
    flex-direction: column;
    width: 18%;
}

.recipes-category .categoryItem {
    display: block;
    widows: 90%;
    padding: 15px 0;
    margin-bottom: 20px;
    background: rgb(48, 12, 12);
    text-align: center;
    text-decoration: none;
    color: white;
}

.recipes-category h2 {
    text-align: center;
    display: block;
    margin: 20px 20px;

}

/* Recipes-content*/
.main-recipes {
    width: 82%;
    display: flex;
    flex-wrap: wrap;
    /* background: #ccc;*/
}

.main-recipes .recipesItems {
    width: 27%;
    margin-left: 6%;
    margin-bottom: 70px;
    box-shadow: 0px 0px 6px 0px rgba(17, 37, 2, 0.466);
    display: flex;
    flex-direction: column;
}

.main-recipes .recipesItems img {
    width: 100%;
    height: 20rem;
}

.main-recipes .recipesItems a {
    display: block;
    width: 100%;
    padding: 8px 0;
    background: rgb(5, 41, 21);
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.main-recipes .recipesItems p {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Contact page*/
.contact {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-contact {
    max-width: 1050px;
    width: 100%;
    background: #fff;
    border-radius: 12px;
    margin: 0 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container-contact .content-contact {
    display: flex;
    align-items: end;
    /*
    align-items: center;
    justify-content: space-between;*/
    padding: 25px 20px;

}

.content-contact .img-box {
    max-width: 55%;

}

.content-contact .img-box img {
    width: 100%;
    height: 600px;
}

.content-contact .topic {
    font-size: 22px;
    font-weight: 700;
    color: rgb(48, 12, 12);
}

/*.content-contact form {
    width: 40%;
    padding-left: 30px;
    padding-bottom: 80px;
}*/
.content-contact form {
    width: 47%;
    padding-left: 43px;
    padding-bottom: 51px;
    padding-top: 125PX;
}

.content-contact .input-box {
    height: 50px;
    width: 100%;
    margin: 16px 0;
    position: relative;
}

.content-contact .input-box input {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    padding-left: 16px;
    border: 2px solid transparent;
    background-color: whitesmoke;
    transition: all 0.3s ease;
}

.content-contact .input-box input:focus,
.content-contact .input-box input:valid {
    background-color: #fff;
    border-color: rgb(48, 12, 12);
    ;

}

.content-contact .input-box label {
    position: absolute;
    left: 18px;
    top: 50%;
    color: rgb(5, 41, 21);
    font-size: 15px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.content-contact .input-box input:focus~label,
.content-contact .input-box input:valid~label {
    top: 0;
    left: 12px;
    display: 12px;
    color: rgb(48, 12, 12);
    background: #fff;
}

.content-contact .message-box {
    min-height: 100px;
    position: relative;
}

.content-contact .message-box textarea {
    position: absolute;
    height: 100%;
    width: 100%;
    background: whitesmoke;
    border: 2px solid transparent;
    border-radius: 6px;
    resize: none;
    outline: none;
    transition: all 0.3s ease;
}

.content-contact .message-box textarea:focus {
    border-color: rgb(48, 12, 12);
    background: #fff;
}

.content-contact .message-box label {
    position: absolute;
    font-size: 16px;
    color: rgb(5, 41, 21);
    left: 18px;
    top: 6px;
    pointer-events: none;
    transition: all 0.3s ease;

}

.content-contact .message-box textarea:focus ~ label {
    left: 12px;
    top: -10px;
    color: rgb(48, 12, 12);
    font-size: 14px;
    background: #fff;
}

.content-contact .input-box input[type="submit"]{
    color:#fff;
    background: rgb(48, 12, 12);
    padding-left: 0;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
.content-contact .input-box input[type="submit"]:hover{
    background: whitesmoke;
    color: #076940;
}

/*Animations*/
.ctn:hover {
    background: whitesmoke;
    color: #076940;
    box-shadow: 2px 2px 5px #00000056;
}

.nav-link:hover {
    color: #076940;
    cursor: pointer;
}

/* Style all font awesome icons */

.fa {
    padding: 10px;
    width: 36px;
    text-decoration: none;
    justify-content: space-between;
}

/* Add a hover effect if you want */

.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */

.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */

.fa-twitter {
    background: #55ACEE;
    color: white;
}

/* Instagram */

.fa-instagram {
    background: #E1306C;
    color: white;
}